@import url(./common.css);

body,
html,
header,
div,
nav,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a,
section,
article,
footer {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

$mC : #59BB40;

@mixin flex($a: space-around, $b: center) {
    display: flex;
    justify-content: $a;
    align-items: $b;
    @content;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .navCon {
        width: 18vw;
        transition: 0.1s;
        border: none;
        transform: translateX(1px);

        .swiper-pagination-vertical.swiper-pagination-bullets {
            position: absolute;
            left: 67px;
            top: 50.2%;
            width: 152px;

            .swiper-pagination-bullet {
                width: 24px;
                height: 24px;
                background: white;
                border: black 2px solid;
                margin: 80px 0;
                box-shadow: 1px 1px 4px rgb(156, 156, 156);
                transform: scale(1);
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                width: 24px;
                height: 24px;
                background: white;
                border: #59BB40 2px solid;
                box-sizing: border-box;
                transform: scale(1.3);
                transition: 0.4s;
            }
        }

        .swiper-nav {
            position: absolute;
            left: 80px;
            top: 50.2%;
            transform: translateY(-170px);
            z-index: 2;
            display: flex;

            .processbar {
                position: absolute;
                left: 0;
                top: 0;
                width: 2px;
                height: 0;
                background: #4FA638;
                z-index: 9;
                transition: 0.3s;
            }

            .swiper-bar {
                width: 2px;
                height: 340px;
                background: black;
                z-index: 1;
            }

            ul {
                margin-left: 20px;
                height: 340px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                li {
                    font-size: 14px;
                    width: 130px;
                    transition: 0.5s;

                    &:first-child {
                        transform: scale(1.1) translateX(7px);
                        color: #4FA638;
                    }
                }
            }
        }

        .processball {
            position: absolute;
            left: 71px;
            top: 50.2%;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #4FA638;
            z-index: 999;
            transform: translateY(-170px);
            transition: 0.6s;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        transition: 0.3s;

        .swiper-wrapper {
            width: calc(100% - 15vw);
        }

        .swiper-slide {
            max-width: 1440px;
            margin: 0;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .container01,
            .container02,
            .container03,
            .container04 {
                max-width: 1440px;
                height: 100%;
                h2 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: calc(25px + 3vw);
                    font-weight: 100;
                    margin-bottom: 2vw;

                    span {
                        color: #4FA638;
                    }
                }

                p {
                    font-size: 14px;
                    color: #666;
                    line-height: 180%;

                    span {
                        color: #4FA638;
                    }
                }
            }

            .container01 {
                display: flex;
                align-items: center;
                justify-content: left;
                position: relative;
                margin-left: 2vw;

                .con01-text {
                    width: 51%;
                    margin: 0;
                    margin-right: 10px;

                    p {
                        width: 94%;
                        padding: 2vw 0;

                        span {
                            color: #666;
                        }
                    }
                }

                .con01-img {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    padding-right: 40px;
                    width: 48%;

                    .box01,
                    .box02,
                    .box03,
                    .box04 {
                        display: block;
                        width: 46%;
                        padding-top: 50%;
                        background-size: cover;
                        margin: 0.3rem;
                        background-repeat: no-repeat;
                    }

                    .box01 {
                        background-image: url('../img/begin01.jpg');
                    }

                    .box02 {
                        background-image: url('../img/begin02.jpg');
                        background-position: 50% 0;
                    }

                    .box03 {
                        background-image: url('../img/begin03.jpg');
                        background-position: 40% 0;
                    }

                    .box04 {
                        background-image: url('../img/begin04.jpg');
                    }

                }
            }

            .container02 {
                position: relative;
                display: flex;
                justify-content: left;
                margin: 0;
                align-items: center;

                .clip-circle {
                    width: 44%;
                    height: 400px;
                    border-radius: 50%;
                    margin-left: 2vw;
                    margin-right: 3vw;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }

                .con02-text {
                    width: 53%;
                    height: 100%;
                    display: flex;
                    box-sizing: border-box;
                    padding-right: 50px;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        margin-bottom: 2vw;
                    }

                    p {
                        width: 94%;
                        margin: 1vw 0
                    }
                }

            }

            .container03 {
                max-width: 1440px;
                box-sizing: border-box;
                display: flex;

                .con03-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-4vw);

                    h2 {
                        text-align: center;
                        margin: 0 auto 40px;
                    }

                    img {
                        width: 60%;
                        margin: 10px 0 50px;
                    }

                    p {
                        width: 70%;
                        text-align: center;
                        margin: 0;
                    }
                }

            }

            .container04 {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                background-color: #E8e8e8;

                .con04-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    transform: translateY(-60px) translateX(-4vw);

                    .info {
                        width: 80%;
                    }

                    h2 {
                        margin: 0 0 80px;

                        span {
                            color: #E91313;

                        }
                    }

                    .worldcup-count {
                        font-size: 4vw;
                        width: 100%;
                        font-weight: 600;
                        letter-spacing: 2rem;
                        margin-top: 3vw;
                        font-family: 'Open Sans', sans-serif;
                        color: #000;

                        .day {
                            color: #E91313;
                        }

                        .time {
                            display: block;
                            font-weight: normal;
                            margin: 0;
                            font-size: 3vw;
                            color: #000;
                            width: 100%;
                            text-align: center;

                        }
                    }
                }
            }
        }
    }
}

//footer

.footer {
    position: absolute;
    border-top: 3px solid #eee;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    z-index: 999;
    transform: translateY(100%);
    transition: 0.5s;

    .f-top {
        width: 100%;
        height: 120px;

        @include flex(space-between, center) {}

        .fT-wrap {
            margin: 0 auto;
            width: 100%;
            padding: 0 180px;

            @include flex(space-between, center) {}

            .f-left {
                @include flex() {}

                .sub-logo {
                    margin-right: 80px;
                    width: 200px;

                    @include flex(center, flex-end) {
                        flex-direction: column;
                    }

                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -40px;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 70%;
                        background-color: #ddd;
                    }

                    img {
                        width: 200px;
                    }

                    .sub-logo-text {
                        width: 120px;
                        height: 30px;
                        padding-right: 20px;

                        @include flex() {}

                        h3 {
                            font-size: 17px;
                            font-weight: bold;
                        }

                        span {
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }
                }

                .left-text {
                    @include flex(center, flex-start) {
                        flex-direction: column;
                    }

                    nav {
                        @include flex(flex-start, center) {}

                        p {
                            width: 45px;
                            color: #888;
                            font-size: 12px;
                            font-weight: normal;
                        }

                        span {
                            color: #888;
                            font-size: 12px;
                            font-weight: normal;

                        }
                    }
                }
            }

            .f-right {
                @include flex() {}

                width: 150px;

                a {
                    .fIcon {
                        width: 30px;
                        height: 30px;
                        transition: 0.3s;
                        background-size: cover;
                        background-position: 50% 50%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .ins {
                        background-image: url(../img/instagram.png);

                        &:hover {
                            background-image: url(../img/instagram-mc.png);
                        }
                    }

                    .fac {
                        background-image: url(../img/facebook.png);
                        filter: contrast(1);

                        &:hover {
                            background-image: url(../img/facebook-mc.png);
                        }
                    }

                    .you {
                        background-image: url(../img/youtube.png);

                        &:hover {
                            background-image: url(../img/youtube-mc.png);
                        }
                    }
                }
            }
        }
    }

    .f-bottom {
        width: 100%;
        text-align: center;
        height: 30px;
        background-color: #70A661;
        color: #eee;
        font-weight: normal;
        line-height: 30px;
        font-size: 12px;
    }
}

$tablet : 1023px;
$mobile : 767px;

@mixin device($min, $max) {
    @media (min-width:$min) and (max-width:$max) {
        @content;
    }
}

@include device($mobile, $tablet) {

    main {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .navCon {
            width: 90px;
            transition: 0.1s;
            border: none;
            transform: translateX(1px);

            .swiper-pagination-vertical.swiper-pagination-bullets {
                position: absolute;
                left: 32px;
                top: 50.2%;
                width: 152px;

                .swiper-pagination-bullet {
                    width: 24px;
                    height: 24px;
                    background: white;
                    border: black 2px solid;
                    margin: 80px 0;
                    box-shadow: 1px 1px 4px rgb(156, 156, 156);
                    transform: scale(1);
                    opacity: 1;
                }

                .swiper-pagination-bullet-active {
                    width: 24px;
                    height: 24px;
                    background: white;
                    border: #59BB40 2px solid;
                    box-sizing: border-box;
                    transform: scale(1.3);
                    transition: 0.4s;
                }
            }

            .swiper-nav {
                position: absolute;
                left: 45px;
                top: 50.2%;
                transform: translateY(-170px);
                z-index: 2;
                display: flex;

                .swiper-bar {
                    width: 2px;
                    height: 340px;
                    background: black;
                    z-index: 1;
                }

                ul {
                    display: none;

                    li {
                        font-size: 14px;
                        width: 130px;
                        transition: 0.5s;

                        &:first-child {
                            transform: scale(1.1) translateX(7px);
                            color: #4FA638;
                        }
                    }
                }
            }

            .processball {
                position: absolute;
                left: 36px;
                top: 50.2%;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #4FA638;
                z-index: 999;
                transform: translateY(-170px);
                transition: 0.6s;
            }
        }

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: left;
            transition: 0.3s;

            .swiper-wrapper {
                width: calc(100% - 90px);
            }

            .swiper-slide {
                max-width: 1440px;
                margin: 0;
                background: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;

                .container01,
                .container02,
                .container03,
                .container04 {
                    max-width: 1440px;
                    height: 100%;

                    h2 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: calc(26px + 3vw);
                        font-weight: 100;
                        margin-bottom: 2vw;

                        span {
                            color: #4FA638;
                        }
                    }

                    p {
                        font-size: 10px;
                        color: #666;
                        line-height: 180%;

                        span {
                            color: #4FA638;
                        }
                    }
                }

                .container01 {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    position: relative;
                    margin-left: 2vw;

                    .con01-text {
                        width: 51%;
                        margin: 0;
                        margin-right: 10px;

                        p {
                            padding: 2vw 0;

                            span {
                                color: #666;
                            }
                        }
                    }

                    .con01-img {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        padding-right: 40px;
                        width: 48%;

                        .box01,
                        .box02,
                        .box03,
                        .box04 {
                            display: block;
                            width: 46%;
                            padding-top: 50%;
                            background-size: cover;
                            margin: 0.3rem;
                            background-repeat: no-repeat;
                        }

                        .box01 {
                            background-image: url('../img/begin01.jpg');
                        }

                        .box02 {
                            background-image: url('../img/begin02.jpg');
                            background-position: 50% 0;
                        }

                        .box03 {
                            background-image: url('../img/begin03.jpg');
                            background-position: 40% 0;
                        }

                        .box04 {
                            background-image: url('../img/begin04.jpg');
                        }

                    }
                }

                .container02 {
                    position: relative;
                    display: flex;
                    justify-content: left;
                    margin: 0;
                    align-items: center;

                    .clip-circle {
                        width: 44%;
                        height: 400px;
                        border-radius: 50%;
                        margin-left: 2vw;
                        margin-right: 3vw;
                        display: flex;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .con02-text {
                        width: 53%;
                        height: 100%;
                        display: flex;
                        box-sizing: border-box;
                        padding-right: 50px;
                        flex-direction: column;
                        justify-content: center;

                        h2 {
                            margin-bottom: 1vw;
                        }

                        p {
                            margin: 1vw 0;
                            line-height: 160%;
                        }
                    }

                }

                .container03 {
                    max-width: 1440px;
                    box-sizing: border-box;
                    display: flex;

                    .con03-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transform: translateX(-4vw);

                        h2 {
                            text-align: center;
                            margin: 0 auto 20px;
                        }

                        img {
                            width: 60%;
                            margin: 0 0 30px;
                        }

                        p {
                            width: 80%;
                            text-align: center;
                            margin: 0;
                        }
                    }

                }

                .container04 {
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    background-color: #E8e8e8;

                    .con04-text {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transform: translateY(-60px) translateX(-4vw);

                        .info {
                            width: 80%;
                        }

                        h2 {
                            margin: 0 0 80px;

                            span {
                                color: #E91313;

                            }
                        }

                        .worldcup-count {
                            font-size: 5vw;
                            width: 100%;
                            font-weight: 600;
                            letter-spacing: 2rem;
                            margin-top: 3vw;
                            font-family: 'Open Sans', sans-serif;
                            color: #000;

                            .day {
                                color: #E91313;
                            }

                            .time {
                                display: block;
                                font-weight: normal;
                                margin: 0;
                                font-size: 4vw;
                                color: #000;
                                width: 100%;
                                text-align: center;

                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        position: absolute;
        border-top: 3px solid #eee;
        width: 100%;
        height: 150px;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateY(100%);
        transition: 0.5s;

        .f-top {
            width: 100%;
            height: 120px;

            @include flex(space-between, center) {}

            .fT-wrap {
                margin: 0 auto;
                width: 100%;
                padding: 0 8vw;

                @include flex(space-between, center) {}

                .f-left {
                    @include flex() {}

                    .sub-logo {
                        margin-right: 8vw;
                        width: 200px;

                        @include flex(center, flex-end) {
                            flex-direction: column;
                        }

                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -4vw;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 70%;
                            background-color: #ddd;
                        }

                        img {
                            width: 200px;
                        }

                        .sub-logo-text {
                            width: 120px;
                            height: 30px;
                            padding-right: 20px;

                            @include flex() {}

                            h3 {
                                font-size: 17px;
                                font-weight: bold;
                            }

                            span {
                                font-size: 17px;
                                font-weight: bold;
                            }
                        }
                    }

                    .left-text {
                        @include flex(center, flex-start) {
                            flex-direction: column;
                        }

                        nav {
                            @include flex(flex-start, center) {}

                            p {
                                width: 45px;
                                color: #888;
                                font-size: 12px;
                                font-weight: normal;
                            }

                            span {
                                color: #888;
                                font-size: 12px;
                                font-weight: normal;

                            }
                        }
                    }
                }

                .f-right {
                    @include flex() {}

                    width: 150px;

                    a {
                        .fIcon {
                            width: 30px;
                            height: 30px;
                            transition: 0.3s;
                            background-size: cover;
                            background-position: 50% 50%;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .ins {
                            background-image: url(../img/instagram.png);

                            &:hover {
                                background-image: url(../img/instagram-mc.png);
                            }
                        }

                        .fac {
                            background-image: url(../img/facebook.png);
                            filter: contrast(1);

                            &:hover {
                                background-image: url(../img/facebook-mc.png);
                            }
                        }

                        .you {
                            background-image: url(../img/youtube.png);

                            &:hover {
                                background-image: url(../img/youtube-mc.png);
                            }
                        }
                    }
                }
            }
        }

        .f-bottom {
            width: 100%;
            text-align: center;
            height: 30px;
            background-color: #70A661;
            color: #eee;
            font-weight: normal;
            line-height: 30px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width:$mobile) {
    main {
        width: 100%;
        height: 100%;
        margin: 0 auto;


        .navCon {
            display: none;
            width: 90px;
            transition: 0.1s;
            border: none;
            transform: translateX(1px);

            .swiper-pagination-vertical.swiper-pagination-bullets {
                position: absolute;
                left: 32px;
                top: 50.2%;
                width: 152px;

                .swiper-pagination-bullet {
                    width: 24px;
                    height: 24px;
                    background: white;
                    border: black 2px solid;
                    margin: 80px 0;
                    box-shadow: 1px 1px 4px rgb(156, 156, 156);
                    transform: scale(1);
                    opacity: 1;
                }

                .swiper-pagination-bullet-active {
                    width: 24px;
                    height: 24px;
                    background: white;
                    border: #59BB40 2px solid;
                    box-sizing: border-box;
                    transform: scale(1.3);
                    transition: 0.4s;
                }
            }

            .swiper-nav {
                position: absolute;
                left: 45px;
                top: 50.2%;
                transform: translateY(-170px);
                z-index: 2;
                display: flex;

                .swiper-bar {
                    width: 2px;
                    height: 340px;
                    background: black;
                    z-index: 1;
                }

                ul {
                    display: none;

                    li {
                        font-size: 14px;
                        width: 130px;
                        transition: 0.5s;

                        &:first-child {
                            transform: scale(1.1) translateX(7px);
                            color: #4FA638;
                        }
                    }
                }
            }

            .processball {
                position: absolute;
                left: 36px;
                top: 50.2%;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #4FA638;
                z-index: 999;
                transform: translateY(-170px);
                transition: 0.6s;
            }
        }

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: left;
            transition: 0.3s;

            .swiper-wrapper {
                width: calc(100%);
            }

            .swiper-slide {
                max-width: 1440px;
                margin: 0;
                background: #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;

                .container01,
                .container02,
                .container03,
                .container04 {
                    max-width: 1440px;
                    height: 100%;

                    h2 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: calc(22px + 3vw);
                        font-weight: 100;
                        margin-bottom: 2vw;

                        br {
                            display: none !important;
                        }

                        span {
                            color: #4FA638;
                        }
                    }

                    p {
                        font-size: 8px;
                        color: #666;
                        line-height: 180%;
                    }
                }

                .container01 {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    position: relative;
                    flex-direction: column-reverse;
                    margin-left: 0.2vw;
                    top: 12rem;

                    .con01-text {
                        width: 88%;
                        margin: 10px 0 -10px 0;
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            width: 26%;
                            margin-right: 5px;
                            font-size: calc(13px + 4vw);
                            transform: translateY(8px);
                            line-height: 1.3;
                        }

                        p {
                            padding: 3vw 0;
                            width: 55%;
                            margin-left: 0px;
                        }
                    }

                    .con01-img {
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        box-sizing: border-box;
                        padding-right: 0px;
                        width: 88%;

                        .box01,
                        .box02,
                        .box03,
                        .box04 {
                            display: block;
                            width: 46%;
                            padding-top: 50%;
                            background-size: cover;
                            margin: 0.3rem;
                            background-repeat: no-repeat;
                        }

                        .box01 {
                            background-image: url('../img/begin01.jpg');
                            background-position: 50% 0;
                        }

                        .box02 {
                            background-image: url('../img/begin02.jpg');
                            background-position: 55% 0%;
                        }

                        .box03 {
                            background-image: url('../img/begin03.jpg');
                            background-position: 45% -40%;
                        }

                        .box04 {
                            background-image: url('../img/begin04.jpg');
                            background-position: 40% 20%;
                        }

                    }
                }

                .container02 {
                    position: relative;
                    display: flex;
                    justify-content: left;
                    flex-direction: column;
                    margin: 0;
                    align-items: center;
                    top: 8rem;

                    .clip-circle {
                        width: 85%;
                        height: 400px;
                        border-radius: 50%;
                        margin-left: 2vw;
                        margin-right: 3vw;
                        display: flex;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }

                    .con02-text {
                        width: 86%;
                        height: 12rem;
                        display: flex;
                        box-sizing: border-box;
                        padding: 0;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        transform: translateX(6px);

                        h2 {
                            margin-top: 20px;
                            margin-bottom: 3vw;
                        }

                        p {
                            margin: 1vw 0;
                            line-height: 160%;
                        }
                    }

                }

                .container03 {
                    max-width: 1440px;
                    box-sizing: border-box;
                    display: flex;
                    transform: translateX(4vw);

                    .con03-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transform: translateX(-4vw);

                        h2 {
                            text-align: center;
                            margin: 0 auto 10px;
                        }

                        img {
                            width: 84%;
                            margin: 0 0 18px;
                        }

                        p {
                            width: 84%;
                            text-align: center;
                            margin: 0;
                        }
                    }

                }

                .container04 {
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    background-color: #E8e8e8;

                    .con04-text {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        transform: translateY(-60px) translateX(-1vw);

                        .info {
                            width: 90%;
                        }

                        h2 {
                            margin: 0 0 40px;

                            span {
                                color: #E91313;

                            }
                        }

                        .worldcup-count {
                            font-size: 7vw;
                            width: 100%;
                            font-weight: 600;
                            letter-spacing: 0.6rem;
                            margin-top: 3vw;
                            font-family: 'Open Sans', sans-serif;
                            color: #000;

                            .day {
                                color: #E91313;
                            }

                            .time {
                                display: block;
                                font-weight: 600;
                                margin: 0;
                                font-size: 6vw;
                                color: #000;
                                width: 100%;
                                text-align: center;

                            }
                        }
                    }
                }

                
    .footer{
        position: absolute;
        border-top: 3px solid #eee;
        width: 100%;
        height: 130px;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateY(100%);
        transition: 0.5s;
        .f-top{
            width: 100%;
            height: 100px;
            margin: 0 auto;
            @include flex(space-between,center){}
            .fT-wrap{
                margin: 0 auto;
                width: 100%;
                padding: 0;
                @include flex(center, center){}
                .f-left{
                    @include flex(){
                        justify-content: left;
                    }
                    width: 89%;
                    .sub-logo{
                        margin-right: 4vw;
                        width: 100px;
                        @include flex(center,flex-end){
                            flex-direction: column;
                        }
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -2vw;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 70%;
                            background-color: #ddd;
                        }
                        img{
                            width: 100%;
                        }
                        .sub-logo-text{
                            width: 100px;
                            height: 30px;
                            padding: 0 5px;
                            @include flex(){}
                            h3{
                                font-size: 11px;
                                font-weight: bold;
                            }
                            span{
                                font-size: 11px;
                                font-weight: bold;
                            }
                        }
                    }
                    .left-text{
                        @include flex(center, flex-start){
                            flex-direction: column;
                        }
                        nav{
                            @include flex(flex-start,center){}
                            p{
                                width: 40px;
                                color: #888;
                                font-size: 11px;
                                font-weight: normal;
                            }
                            span{
                                color: #888;
                                font-size: 11px;
                                font-weight: normal;

                            }
                        }
                    }
                }
                .f-right{
                    @include flex(){
                        flex-direction: column;
                        justify-content: left;
                    }
                    width: 7%;
                    a{
                        transform: scale(0.7);
                    }
                }
            }
        }
        .f-bottom{
            width: 100%;
            text-align: center;
            height: 30px;
            background-color: #70A661;
            color: #eee;
            font-weight: normal;
            line-height: 30px;
            font-size: 12px;
        }
    }
            }
        }


    }

    .footer {
        position: absolute;
        border-top: 3px solid #eee;
        width: 100%;
        height: 140px;
        bottom: 0;
        left: 0;
        z-index: 999;
        transform: translateY(100%);
        transition: 0.5s;

        .f-top {
            width: 100%;
            height: 110px;
            margin: 0 auto;

            @include flex(space-between, center) {}

            .fT-wrap {
                margin: 0 auto;
                width: 100%;
                padding: 0;

                @include flex(center, center) {}

                .f-left {
                    @include flex() {
                        justify-content: left;
                    }

                    width: 80%;

                    .sub-logo {
                        margin-right: 6vw;
                        width: 120px;

                        @include flex(center, flex-end) {
                            flex-direction: column;
                        }

                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -3vw;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 70%;
                            background-color: #ddd;
                        }

                        img {
                            width: 100%;
                        }

                        .sub-logo-text {
                            width: 110px;
                            height: 30px;
                            padding: 0 10px;

                            @include flex() {}

                            h3 {
                                font-size: 14px;
                                font-weight: bold;
                            }

                            span {
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }

                    .left-text {
                        @include flex(center, flex-start) {
                            flex-direction: column;
                        }

                        nav {
                            @include flex(flex-start, center) {}

                            p {
                                width: 40px;
                                color: #888;
                                font-size: 12px;
                                font-weight: normal;
                            }

                            span {
                                color: #888;
                                font-size: 12px;
                                font-weight: normal;

                            }
                        }
                    }
                }

                .f-right {
                    @include flex() {
                        flex-direction: column;
                        justify-content: left;
                    }

                    width: 8%;

                    a {
                        transform: scale(0.7);
                    }
                }
            }
        }

        .f-bottom {
            width: 100%;
            text-align: center;
            height: 30px;
            background-color: #70A661;
            color: #eee;
            font-weight: normal;
            line-height: 30px;
            font-size: 12px;
        }
    }

}



@media screen and (max-width:375px) {
    main {
        .swiper{
                .swiper-slide {
                    .container01 {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        position: relative;
                        flex-direction: column-reverse;
                        margin-left: 0.2vw;
                        top: 11rem;
    
                        .con01-text {
                            width: 84%;
                            margin: 10px 0 -10px 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
    
                            h2 {
                                width: 100%;
                                margin-right: 5px;
                                transform: translateY(8px);
                                line-height: 1.3;
                                
    
                            }
    
                            p {
                                padding: 2vw 0;
                                width: 100%;
                                margin-left: 0px;
                            }
                        }
    
                        .con01-img {
                            position: relative;
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            box-sizing: border-box;
                            padding-right: 0px;
                            width: 84%;
    
                            .box01,
                            .box02,
                            .box03,
                            .box04 {
                                display: block;
                                width: 46%;
                                padding-top: 50%;
                                background-size: cover;
                                margin: 0.3rem;
                                background-repeat: no-repeat;
                            }
    
                            .box01 {
                                background-image: url('../img/begin01.jpg');
                                background-position: 50% 0;
                            }
    
                            .box02 {
                                background-image: url('../img/begin02.jpg');
                                background-position: 55% 0%;
                            }
    
                            .box03 {
                                background-image: url('../img/begin03.jpg');
                                background-position: 45% -40%;
                            }
    
                            .box04 {
                                background-image: url('../img/begin04.jpg');
                                background-position: 40% 20%;
                            }
    
                        }
                    }
                    
                    .container02 {
                        position: relative;
                        display: flex;
                        justify-content: left;
                        flex-direction: column;
                        margin: 0;
                        align-items: center;
                        top: 2rem;

                        .clip-circle {
                            width: 84%;
                            height: 400px;
                            border-radius: 50%;
                            margin-left: 2vw;
                            margin-right: 3vw;
                            display: flex;
                            align-items: center;

                            img {
                                width: 100%;
                            }
                        }

                        .con02-text {
                            width: 84%;
                            height: 3rem;
                            display: flex;
                            box-sizing: border-box;
                            padding: 0;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            transform: translateX(6px);

                            h2 {
                                margin-top: 20px;
                                margin-bottom: 20px;
                            }

                            p {
                                margin: 2vw 0;
                                line-height: 160%;
                            }
                        }
                    }
                    
                    .container03 {
                        max-width: 1440px;
                        box-sizing: border-box;
                        display: flex;
                        transform: translateX(4vw);

                        .con03-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            transform: translateX(-4vw);

                            h2 {
                                text-align: center;
                                margin: 0 auto 30px;
                            }

                            img {
                                width: 82%;
                                margin: 0 0 18px;
                            }

                            p {
                                width: 82%;
                                text-align: center;
                                margin: 0;
                            }
                        }
                    }
            }
        }
    
    }
}